body
{
  background: #FFFFFF;
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
}

img
{
  border: none;
  vertical-align: text-bottom;
}

p,ul,ol,li,dl,dt,dd,td
{
  font-size: 8pt;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
  background: white;
}

p.centered
{
  text-align: center;
}

p.version
{
  font-style: italic;
  text-align: center;
}

p.subtitle
{
  font-weight: bold;
}

p.title
{
  font-size: 14pt;
  font-style: italic;
  text-align: center;
}

code, pre
{
  font-size: 9pt;
  font-family: Courier New, Courrier;
  color: black;
  background: #EEEEEE;
}

hr
{
  border-color: black;
  border-style: solid;
}

a:link, a:visited
{
  color: #003399;
  background: white;
/*  text-decoration: none;*/
}

a:hover, a:active
{
  color: #CC0000;
  background: white;
/*  text-decoration: none;*/
}

ul#versions
{
  list-style-type: none;
  margin-left: 0px;
  font-weight: bold;
}

ul#versions ul
{
  list-style-type: disc;
  margin-left: 25px;
  font-weight: normal;
}

ul#options, ul#options ul
{
  list-style-type: disc;
}
